.genre{
    font-size: 25px;
}

.center {
    text-align: center;
  }

.networks{
    color: white;
    background: #000;

}

.descriptionText{
    text-align: center;
}

.titleText{
    text-align: center;
    font-size: 36px;
}